apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: akuitytest
spec:
  project: default

  source:
    repoURL: https://github.com/Uddhao/ArgoCD.git
    targetRevision: HEAD
    path: dev   
  destination: 
    #server: http://cluster-test-argo:8001 
    #server: http://test-cluster-dns-nkgnl6iw.hcp.eastus.azmk8s.io
    #server: https://kubernetes.default.svc
    name: zuscu-d006-b207-aks-d1-atldp

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
