apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld
  labels:
    app: helloworlddep
spec:
  selector:
    matchLabels:
      app: helloworlddep
  template:
    metadata:
      labels:
        app: helloworlddep
    spec:
      containers:
      - name: helloworlddep
        image: hello-world
        ports:
        - containerPort: 80
